<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <script>
    function login(){
        username = document.getElementById('username').value;
        password = document.getElementById('password').value;
        window.location.href = '/login/'+username+'/'+password
    }
    </script>
</head>
<body>
LOGIN<br/><br>
用户：
<input id="username" name="username">
<br><br>
密码：
<input id="password" name="password">
<br>
<button onclick="login()">登录</button>
</body>
</html>